* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Deja Vu";
}

/* Header styling */

#header {
    width: 100%;
    height: 60px;
    background: #3f5267;
}

#logo{
    width: 20%;
    height: 60px;
    float: left;
}

#title{
    width: 60%;
    height: 60px;
    float: left;
}

#title h2{
    color: #fff; 
    text-align: center;
    text-shadow: 3px 3px 3px #000;
    line-height: 60px;
}

#link{
    width: 20%;
    height: 60px;
    float: left;
}

#link h3{
    text-align: center;
    line-height: 60px;
}

#link h3 a{
    text-decoration: none;
    color: #fff;
    

}

#link h3 a:hover{background: #74889e}

#logo h2 {
    text-align: center;
    line-height: 60px;
}

#logo h2 a{
    text-decoration: none;
    color: #74889e;
    text-shadow: 3px 3px 3px #0003
}

/* 

Side body styling

*/

#bodyleft{
 width: 15%;
 height: 1000px;
 background: #3f5267;
 float: left;
 overflow-y: auto;
}

#bodyleft h3{
    line-height: 30px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    font-size: 15px;
    background: #74889e;
    height: 30px;
    margin-bottom: 2%;
}

#bodyleft ul{
    list-style-type: none;
}


#bodyleft ul li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 5%;
    box-sizing: border-box;
}

#bodyleft ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

#bodyleft ul li:hover{
    background: #fff
}

#bodyleft ul li:hover a{
    color: #3f5267
}

/* 

Right body styling

*/


#bodyright {
    width: 85%;
    height: 1000px;
    background: #fff;
    float: left;
    overflow-y: auto;
}

#bodyright h3{
    line-height: 30px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    font-size: 15px;
    background: #74889e;
    height: 30px;
    margin-bottom: 2%;
}

#add{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    
}

#add details{
    width: 60%;
    margin: auto;
}

#add details summary {
    width: 100%;
    height: 30px;
    color: #3f5267;
    border: 1px solid #3f5267;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    outline: none;
    cursor: pointer;


}

#add details form{
 background: #74889e;
 padding: 5%;
 box-sizing: border-box;

}

#add details form input{
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 3%;
    box-sizing: border-box;
    margin-bottom: 2%;
    font-size: 12px;


}

#add details form select{
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 3%;
    box-sizing: border-box;
    margin-bottom: 2%;
    font-size: 12px;


}

#add details form button {
    color: #fff;
    width: 40%;
    height: 30px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    font-size: 14px;
}

#add details form button:hover{
    cursor: pointer;
    background: #fff;
    color: #3f5267;

}

#add table{
    width: 100%;
    margin-top: 2%;
}

#add table tr th {
    height: 35px;
    background: #3f5267;
    color: #fff;
    text-align: left;
    padding-left: 2%;
    box-sizing: border-box;
    font-size: 12px;
    

}

#add table tr td {
 height: 30px;
 padding-left: 2%;
 box-sizing: border-box;
 font-size: 14px;
}  

